.info {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px;
    @include sp {
      flex-direction: column;
      padding: 100px 0;
    }
  }
  &__head {
    display: flex;
    flex-direction: column;
  }
  &__main {
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #f7f8f8;
    @include sp {
      &:first-child {
        margin: 20px 0 0;
      }
    }
    &-date {
      width: 110px;
      letter-spacing: 0.1em;
      @include sp {
        letter-spacing: 0.02em;
      }
    }
    &-cat {
      background: #f0f3f6;
      margin: 0 20px 0 0;
      padding: 5px 0;
      width: 80px;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
      @include sp {
        margin: 0 10px;
        padding: 2px;
        width: 110px;
        letter-spacing: 0.02em;
      }
    }
    &-txt {
      font-size: 18px;
      letter-spacing: 0.1em;
      @include sp {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
  &__btn {
    margin: 80px 0 0;
    padding: 10px 0;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    border: 3px solid #000;
    text-align: center;
    @include sp {
      margin: 60px 0 0;
    }
  }
  .en {
    letter-spacing: 0.02em;
  }
  ruby[data-ruby] {
    position: relative;
    &:before {
      bottom: -20px;
      left: 0;
      font-size: 20px;
      letter-spacing: 0.2em;
      @include sp {
        left: 90px;
        font-size: 16px;
        letter-spacing: 0.25em;
      }
    }
  }
}
