@import "page/header";
@import "page/kv";
@import "page/contact";
@import "page/footer";

.after-service-page {
  .after-service__container {
    background: #f7f8f8;
  }
  .pankuzu__line {
    border-color: #d9d9da;
  }
  .kv {
    background: url(../../assets/images/webp/afterservice_kv.webp) no-repeat
      center/cover;
    @include sp {
      padding: 50px 0 0;
    }
    .page-ttl {
      ruby[data-ruby] {
        &:before {
          left: 160px;
          bottom: -40px;
          @include sp {
            bottom: -20px;
            left: 95px;
          }
        }
      }
    }
  }
  .feature {
    padding: 120px 40px 0;
    text-align: center;
    background: #f8f8f8;
    @include sp {
      padding: 40px 5px 0;
    }
    &__ttl {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.2em;
      text-align: center;
      @include sp {
        font-size: 32px;
        text-align: center;
      }
    }
    &__txt {
      margin: 80px 0 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.2em;
      text-align: center;
      @include sp {
        margin: 40px 0 0;
        font-size: 16px;
      }
    }
    &__building {
      margin: 80px -40px 0;
      @include sp {
        margin: 40px -5px;
      }
    }
  }
  .service {
    padding: 120px 0;
    background: #f7f8f8;
    @include sp {
      padding: 60px 0;
    }
    &__list {
      &__item {
        margin: 120px 0 0;
        &:first-child {
          margin: 0;
          .service__list__body {
            &__figure {
              width: 897px;
              @include sp {
                width: 100%;
              }
            }
            &__txt {
              margin: 48px 0 0;
              @include sp {
                margin: 20px 0 0;
              }
            }
          }
        }
        &:nth-child(2) {
          .service__list__body {
            &__figure {
              width: 906px;
              @include sp {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          .service__list__body {
            &__figure {
              width: 916px;
              @include sp {
                width: 100%;
              }
            }
          }
        }
        &__ttl {
          font-weight: 500;
          font-size: 32px;
          letter-spacing: 0.1em;
          text-align: center;
          @include sp {
            font-size: 26px;
          }
        }
      }
      &__body {
        margin: 64px 0 0;
        padding: 80px;
        background: #fff;
        @include sp {
          margin: 40px 0 0;
          padding: 40px 5px;
        }
        &__figure {
          margin: 0 auto;
        }
        &__txt {
          margin: 80px 0 0;
          font-weight: 400;
          line-height: 2;
          letter-spacing: 0.075em;
          background: #fff;
          @include sp {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}
