@import "page/header";
@import "page/kv";
@import "page/contact";
@import "page/footer";

.performance-page {
  .kv {
    background: url(../../assets/images/webp/performance-page_kv.webp) no-repeat
      center/cover;
    @include sp {
      padding: 50px 0 0;
    }
    .page-ttl {
      ruby[data-ruby] {
        &:before {
          bottom: -40px;
          left: 140px;
          @include sp {
            bottom: -20px;
            left: 65px;
          }
        }
      }
    }
  }
  .pankuzu {
    background: #f8f8f8;
  }
  .performance {
    background: url(../images/webp/performance-page_bg.webp) no-repeat
      center/cover;
    @include sp {
    }
    &__container {
      background: #f8f8f8;
    }
    &__inner {
      padding: 120px 40px;
      @include sp {
        padding: 40px 5px 0;
      }
    }
    &__ttl {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.6;
      letter-spacing: 0.2em;
      text-align: center;
      @include sp {
        font-size: 32px;
        line-height: 1.4;
      }
      &-alert {
        color: #c68f4b;
      }
      &-small {
        font-size: 24px;
        line-height: 2.66;
        @include sp {
          line-height: 1.4;
        }
      }
    }
    &__txt {
      margin: 80px 0 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 2;
      text-align: center;
    }
    &__image-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 80px 0 0;
    }
  }
  .facade {
    background: #f8f8f8;
    &__inner {
      padding: 80px 40px 0;
      @include sp {
        padding: 40px 5px 20px;
      }
    }
    &__ttl {
      font-weight: bold;
      font-size: 40px;
      line-height: 1.6;
      letter-spacing: 0.05em;
      text-align: center;
    }
    &__txt {
      margin: 80px 0 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 2.44;
      letter-spacing: 0.3em;
      text-align: center;
      @include sp {
        margin: 20px 0 0;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 64px 0 0;
      @include sp {
        flex-wrap: wrap;
        margin: 20px 0 0;
      }
      &__item {
        width: calc((100% - 80px) / 4);
        @include sp {
          margin: 40px 0 0;
          width: calc((100% - 5px) / 2);
        }
        &-thumb {
        }
        &-caption {
          margin: 20px 0 0;
          @include sp {
            margin: 10px 0 0;
            font-size: 14px;
          }
        }
      }
    }
  }
  .entrance {
    background: #f8f8f8;
    &__inner {
      padding: 120px 40px 0;
      @include sp {
        padding: 40px 5px 20px;
      }
    }
    &__ttl {
      font-weight: bold;
      font-size: 40px;
      line-height: 1.6;
      letter-spacing: 0.05em;
      text-align: center;
    }
    &__txt {
      margin: 80px 0 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 2.44;
      letter-spacing: 0.3em;
      text-align: center;
      @include sp {
        margin: 20px 0 0;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 64px 0 0;
      @include sp {
        flex-wrap: wrap;
        margin: 40px 0 0;
      }
      &__item {
        width: calc((100% - 80px) / 4);
        @include sp {
          margin: 20px 0 0;
          width: calc((100% - 5%) / 2);
        }
        &-thumb {
        }
        &-caption {
          margin: 20px 0 0;
          @include sp {
            margin: 10px 0 0;
            font-size: 14px;
          }
        }
      }
    }
  }
  .clover {
    background: #f8f8f8;
    &__inner {
      padding: 160px 40px 120px;
      @include sp {
        padding: 80px 5px;
      }
    }
    &__block {
      display: flex;
      justify-content: space-between;
      background: #fff;
      @include sp {
        flex-direction: column;
      }
      &__left {
        width: 600px;
        padding: 46px 30px 37px;
        @include sp {
          padding: 46px 5px 37px;
          width: 100%;
        }
      }
      &__right {
        width: 600px;
        @include sp {
          width: 100%;
        }
      }
      &__ttl {
        width: 387px;
        @include sp {
          width: 100%;
        }
      }
      &__txt {
        margin: 32px 0 0;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: 0.01em;
      }
      &__thumb {
        height: 100%;
        @include sp {
          width: 100%;
        }
      }
    }
  }
}
